.managed{
    color: aliceblue;
    background: linear-gradient(113.5deg, #1D3306 0%, rgba(58, 89, 54, 0.89) 108.28%);
     padding: 50px;
     display: flex;
     flex-direction: column;
   /* justify-content: center; */
   /* align-items: center; */
   
  
   position: relative;
}


.managed img{
    position: absolute;
    right: 0;
    top: 0;
    height: 99%;
     z-index: 1;
   
}

.managed div{
    
    /* border: 2px solid red; */
    /* padding: 20px; */
}
.managed hr{
    width: 700px;
    margin-left: 0;
    border: 1px solid white;
    /* margin-bottom: 100px; */
}

.managed .c3,.c4{
    align-self: flex-start;
    text-align: start;
    font-family: Inter;
font-size: 25px;
font-weight: 400;
line-height: 55px;
 

}
.managed{
    font-family: 'Cinzel';
}

.managed .c1 p{
    
    font-family: 'Cinzel';
font-size: 40px;
font-weight: 400;
line-height: 55px;
text-align: left;



}

.managed .c1{
    display: flex;
  align-items: flex-start;
justify-content: flex-start;
 text-align: left;
}

.managed .c2 p{
    font-family: 'Cinzel';
font-size: 60px;
font-weight: 500;
line-height: 55px;
text-align: left;


}


@media screen and (max-width: 768px) {
    .managed {
        padding: 10px; 
    }
    
    .managed p {
        font-size: 14px; 
    }
    
    .managed .c1 p {
        font-size: 24px; 
    }
    
    .managed .c2 p {
        font-size: 30px;
    }

   
    .managed img {
        height: auto;
        max-width: 100%;
    }


    .managed img {
        display: none;
        position: static; 
        height: auto; 
        width: 100%; 
        max-width: 100%; 
        margin-top: 20px; 
        z-index: 0;
    }

    .managed .c1 p,.c2 p,.c3 p{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }

    .managed .c1>p{
        text-align: center;
        margin-left: 10%;
    }
}